# *
# !/src/
# !/src/*.py
# !/ESP8266 Examples/
# !/ESP8266 Examples/*.*
# !LICENSE
# !README.md
# !Resultaten.xlsx
data/
data_validated_selected/
data_validated_valid/
data_selected/
data_valid/
data_validated_all.zip
data_validated_valid.zip